{
  "extends": ["airbnb-base"],
  "rules": {
    "import/prefer-default-export": 0,
    "no-console": 0,
    "linebreak-style": 0,
    "no-undef": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-lonely-if": 0,
    "array-bracket-spacing": 0,
    "import/no-extraneous-dependencies": 0,
    "quote-props": 0,
    "comma-dangle": 0,
    "prefer-destructuring": ["error", {
      "array": false,
      "object": false
    }, {
      "enforceForRenamedProperties": false
    }]
  }
}