@mixin response($size) {
  @media only screen and (max-width: $size + 'px') {
    @content;
  }
}
@mixin min-response($size) {
  @media only screen and (min-width: $size + 'px') {
    @content;
  }
}
@mixin response-range($min, $max) {
  @media only screen and (min-width: $min + 'px') and (max-width: $max + 'px') {
    @content;
  }
}
@mixin desktop-hover() {
  @media only screen and (min-width: 1025px) {
    &:hover {
      @content;
    }
  }
}
@mixin desktop-properties() {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
@mixin flex($row: row, $wrap: wrap, $justify: center, $align: center) {
  display: flex;
  flex-flow: $row $wrap;
  justify-content: $justify;
  align-items: $align;
}
@mixin font($size: false, $color: false, $ls: false, $lh: false, $weight: false) {
  @if $size {
    font-size: $size + px;
  }
  @if $color {
    color: $color;
  }
  @if $ls {
    letter-spacing: $ls + em;
  }
  @if $lh {
    line-height: $lh + px;
  }
  @if $weight {
    font-weight: $weight;
  }
}
