* {
  box-sizing: border-box;
  outline: none;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}
svg {
  display: block;
  transform: translateZ(0);
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  * {
    cursor: pointer;
  }
}
input,
textarea {
  -webkit-appearance: none;
}
a {
  text-decoration: none;
}
