.main
  +image("favicon.png").main__logo
  h1 Web Starter Kit
  span 0.9.0 beta
  p.
    Web Starter Kit is an opinionated boilerplate for web development. The builder uses a component approach that will make your project easy to maintain and readable. You do not need to spend much time searching for and linking files. The builder uses <a href="https://meyerweb.com/eric/tools/css/reset/" rel="nofollow">reset.css</a> and <a href="https://necolas.github.io/normalize.css/" rel="nofollow">normalize.css</a></p>
  h2 We use
  .main__center
    a(href="https://github.com/webpack/webpack", class="main__image", target="_blank")
      img(src="https://camo.githubusercontent.com/d18f4a7a64244f703efcb322bf298dcb4ca38856/68747470733a2f2f7765627061636b2e6a732e6f72672f6173736574732f69636f6e2d7371756172652d6269672e737667")
    a(href="https://github.com/pugjs/pug", class="main__image", target="_blank")
      img(src="https://camo.githubusercontent.com/a43de8ca816e78b1c2666f7696f449b2eeddbeca/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667")
    a(href="https://github.com/babel/babel", class="main__image", target="_blank")
      img(src="https://raw.githubusercontent.com/babel/logo/master/babel.png")
    a(href="https://github.com/postcss/postcss", class="main__image", target="_blank")
      img(src="https://camo.githubusercontent.com/2ec260a9d4d3dcc109be800af0b29a8471ad5967/687474703a2f2f706f73746373732e6769746875622e696f2f706f73746373732f6c6f676f2e737667")
    a(href="https://github.com/sass/sass", class="main__image", target="_blank")
      img(src="https://camo.githubusercontent.com/af0a0273ef7c50fe918af854e790dffb3f1acd64/68747470733a2f2f736173732d736373732e72752f6173736574732f696d672f6c6f676f732f6c6f676f2e737667")
    a(href="https://github.com/svg/svgo", class="main__image", target="_blank")
      img(src="https://camo.githubusercontent.com/28adc7d0c5c9ea1f11a89603391c39d268f29d4a/68747470733a2f2f7376672e6769746875622e696f2f7376676f2d6c6f676f2e737667")
    a(href="https://eslint.org/", class="main__image", target="_blank")
      img(src="https://camo.githubusercontent.com/0ec8268a28d47b5336345022c512ac94c316b138/68747470733a2f2f65736c696e742e6f72672f696d672f6c6f676f2e737667")
    a(href="https://github.com/stylelint/stylelint", class="main__image", target="_blank")
      img(src="https://camo.githubusercontent.com/b5f24097389580680375d33c4a743ddde5885cf2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6d656469612d702e736c69642e65732f75706c6f6164732f3436373132342f696d616765732f323837323735382f7374796c656c696e742d69636f6e2d626c61636b2e737667")
  .main__center
    h2 Stage
    a(href="https://github.com/web-garage/web-starter-kit#install", target="_blank").main__label Install
    a(href="https://github.com/web-garage/web-starter-kit#commands", target="_blank").main__label Commands
    a(href="https://github.com/web-garage/web-starter-kit#plugins", target="_blank").main__label Plugins
    a(href="https://github.com/web-garage/web-starter-kit#structure", target="_blank").main__label Structure
    a(href="https://github.com/web-garage/web-starter-kit#install", target="_blank").main__label Changelog
    a(href="https://github.com/web-garage/web-starter-kit#install", target="_blank").main__label License