header.header
  .header__container
    a(href="/").header__logo 
      span Web 
      | Starter Kit
    .header__section
      a(href="https://github.com/web-garage/web-starter-kit", target="_blank").header__link
        +svg("github", 30, 30)
        .header__title Github