@import 'reset.css';
@import 'normalize.css';
@import 'shared/scss/reset.scss';
@import 'shared/scss/variables.scss';
@import 'shared/scss/mixins.scss';
@import 'shared/scss/extends.scss';
@import 'shared/scss/typography.scss';
@import 'shared/scss/common.scss';
@import 'components/header/header.scss';
@import 'components/main/main.scss';
@import 'components/footer/footer.scss';
